.produk-img-container {
    width: 100%;
    height: 150px;
    /* Atur tinggi tetap */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .35rem;
    /* Samakan dengan card */
    background-color: #f8f9fc;
}

.produk-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Tampilkan gambar penuh */
}

.produk-info {
    padding: 0.8rem 1rem;
    background-color: #ffffff;
    border-top: 1px solid #e3e6f0;
}

.btn-aksi {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
}

.btn-aksi-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.btn-aksi-group .btn {
    font-size: 0.8rem;
}